<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Buscar Usuário</title>
    </head>
    <body>
        <h2>Buscar Usuário por E-mail</h2>
        <form id="searchUserForm">
            <input
                type="email"
                id="emailInput"
                placeholder="Digite o e-mail"
                required
            >
            <button type="submit">Buscar</button>
        </form>
        <div id="result"></div>
        <script type="module" src="/static/js/usuarios.js"></script>
    </body>
</html>
